---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="section">
        <div class="container has-text-centered" id="page-section">
            <div class="section">
                <h1 class="title is-1 is-uppercase has-text-weight-bold">
                    About
                </h1>
                <hr class="has-background-black">
                <div class="content is-marginless">
                </div>
            </div>
        </div>
    </section>
    <section class="has-text-centered" id="about">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <figure class="image">
                            <img class="is-rounded" src="{{site.baseurl}}{{site.author-image}}" alt="{{site.author-name}}">
                        </figure>
                    </div>
                    <div class="column content  has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <p>Welcome to Quantified Golf!  My name is Will Wagner. I'm a long time resident of the San Franscisco Bay Area for which I've called home for over 30 years.  I've been very fortunate to have a career in software development and managing teams as an Engineering leader and CTO.  Family and work come first, but a close second is golf.</p>
                    <p>I started golfing when I was a kid, and I spent much of my teenage years either working on a golf course, or practicing and playing golf.  My parents were golfers too, and I have many fond memories playing 9 holes as the sun went down with my parents, or taking part in $.25 skin games with my dad and his friends.</p>
                    <p>Over the years, I've had decade long gaps when my golf clubs sat idle in the garage.  Raising a family, starting a company, and managing a large organization take focus and time, and golf took a back seat.  Now in my mid-50's, the passion for the sport has been reignited in me and I further appreciate the sport that both can be played in your later years and provides endless avenues of exploration and learning.</p>
                    <p>Quantified Golf is a collection of resources that have helped me over the last few years. You won't find swing instruction here except for the random link to the true experts.  What you will find here is an exploration of almost everything else.  Curiosity and an engineering mindset helped me through many technical and organizational challenges, and I believe that rigor and mindset can also help golf.  If you understand the levers that allow people to play at a high level, you can practice better.  If you practice better, you can play better.  If you play better, you can use those skills to compete better and make better on course decisions.</p>
                    <p>I hope you find this site helpful.</p>

                        <br>
                        <div class="container columns is-centered">
                            <div>
                                <a href="{{site.url}}{{site.baseurl}}/#contact"
                                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                    Me</a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>
